/* import Roboto google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* body child elements - centered horizontally */
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 10px 15px;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 4rem 0;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    margin: 40px 0 30px 0;
}

p,
ul,
legend {
    text-indent: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

strong {
    font-weight: 500;
}

a {
    color: #1010BA;
    text-decoration: none;
}

a:active {
    color: #10107A;
}

a:hover {
    text-decoration: underline;
}

body>header p {
    font-size: 0.8rem;
    margin: 0;
}

.topnav {
    margin-bottom: 30px;
}

.topnav>ul {
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 30px;
    font-size: 1.3rem;
}

.topnav a.selected {
    font-weight: bold;
}

body>main {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

body>footer {
    margin-top: 30px;
}

/* for top level header, main, footer - take full body width but not wider than 1200px */
.container {
    max-width: 1200px;
    width: 100%;
}

figure {
    max-width: 500px;
}

figure img {
    max-width: 100%;
}

aside {
    flex: 0 0 300px;
}

aside figure {
    margin: 0 0 20px 0;
    max-width: 300px;
}

fieldset {
    border-width: 1px;
    border-color: #7F7F7F;
    border-style: solid;
}

.cookies {
    position: fixed;
    left: 0;
    bottom: 0;
    /* width should include padding */
    box-sizing: border-box;
    padding: 30px 30px;
    background-color: #323232;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

.button {
    background-color: #3B6ADF;
    color: white;
    border-width: 0;
    padding: 5px 20px;
    cursor: pointer;
}

.cookies .button {
    margin: 0 10px;
}

.alttable td {
    padding: 4px 5px;
    font-size: 1rem;
}

.alttable tr:nth-child(odd) {
    background-color: #FFF;
}

.alttable tr:nth-child(even) {
    background-color: #CFF;
}

article {
    flex-grow: 1;
}

article p {
    text-align: justify;
}

article figure {
    float: left;
    max-width: 300px;
    margin: 0 30px 40px 0;
    position: relative;
}

article figure figcaption {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

article p::first-letter {
    font-weight: 500;
}

fieldset {
    border-width: 0;
    padding: 0;
    margin: 0;
}

fieldset p {
    display: flex;
}

fieldset label {
    flex: 0 0 250px;
}

fieldset input,
fieldset textarea {
    flex: 0 1 400px;
    height: 40px;
}

fieldset textarea {
    height: 80px;
}

fieldset .button {
    padding: 5px 40px 5px 40px;
}

/* styles for tablet - will apply for display widths from 0 to 1024 pixels */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    body>main {
        flex-direction: column;
    }

    .topnav>ul {
        font-size: 1rem;
    }
}

/* styles for phone - will apply for display widths from 0 to 768 pixels */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        word-spacing: 0.3rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    .topnav>ul {
        font-size: 0.9rem;
        flex-flow: wrap;
    }

    fieldset p {
        flex-wrap: wrap;
    }

    .alttable td,
    .alttable th {
        font-size: 0.8rem;
    }

    article figure {
        float: none;
    }
}